In [ ]:
#Important Libraries and Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats as stat
import nltk
import random
import re
import string

%matplotlib inline
sns.set()

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Reading Raw CSV File to df

import requests
from io import StringIO

url = "https://raw.githubusercontent.com/skt-shreyas/mini-cooper/main/stock_historical_data_nasdaq_new.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

df = pd.read_csv(data)

In [ ]:
#Reading Df
df

,Unnamed: 0,ICLR,ICLR.1,ICLR.2,ICLR.3,ICLR.4,ICLR.5,LI,LI.1,LI.2,...,TSLA.2,TSLA.3,TSLA.4,TSLA.5,JBHT,JBHT.1,JBHT.2,JBHT.3,JBHT.4,JBHT.5
0,NaN,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,...,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400,NaN,NaN,NaN,...,20.733333587646484,21.368667602539062,21.368667602539062,65283000,115.95999908447266,116.88999938964844,114.73999786376953,116.08999633789062,110.8958740234375,863600
3,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800,NaN,NaN,NaN,...,21.036666870117188,21.149999618530273,21.149999618530273,67822500,116.33000183105469,118.05000305175781,115.94999694824219,116.87000274658203,111.6409912109375,980200
4,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700,NaN,NaN,NaN,...,20.3786678314209,20.974666595458984,20.974666595458984,149194500,117.16999816894531,118.05999755859375,115.43000030517578,116.88999938964844,111.66008758544922,1318000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1256,2022-12-23 00:00:00,193.869995,196.389999,192.899994,194.850006,194.850006,315300,20.370001,20.370001,18.540001,...,121.019997,123.150002,123.150002,166989700,176.610001,177.759995,175.080002,177.360001,176.983261,371800
1257,2022-12-27 00:00:00,194.850006,195.320007,191.669998,193.240005,193.240005,219500,18.360001,18.719999,18.02,...,108.760002,109.099998,109.099998,208643400,177.850006,178.960007,175.050003,178.220001,177.841446,354400
1258,2022-12-28 00:00:00,192.350006,197.580002,192.350006,193.279999,193.279999,256200,18.9,19.242001,17.895,...,108.239998,112.709999,112.709999,221070500,178.389999,179.279999,174.350006,174.460007,174.089432,240200
1259,2022-12-29 00:00:00,195.300003,200.350006,195.300003,198.470001,198.470001,235900,19.25,19.740999,18.950001,...,117.5,121.82,121.82,221923300,175.119995,178.610001,174.779999,176.770004,176.394516,362400
1260,2022-12-30 00:00:00,196.520004,198.210007,190.770004,194.25,194.25,378200,19.49,20.450001,19.440001,...,119.75,123.18,123.18,157777300,175.850006,176.270004,172.050003,174.360001,173.989639,459000

In [ ]:
#Loading first few data frm the dataset
df.head()

,Unnamed: 0,ICLR,ICLR.1,ICLR.2,ICLR.3,ICLR.4,ICLR.5,LI,LI.1,LI.2,...,TSLA.2,TSLA.3,TSLA.4,TSLA.5,JBHT,JBHT.1,JBHT.2,JBHT.3,JBHT.4,JBHT.5
0,NaN,Open,High,Low,Close,Adj Close,Volume,Open,High,Low,...,Low,Close,Adj Close,Volume,Open,High,Low,Close,Adj Close,Volume
1,Date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-01-02 00:00:00,112.04000091552734,116.11000061035156,112.04000091552734,114.4800033569336,114.4800033569336,187400,NaN,NaN,NaN,...,20.733333587646484,21.368667602539062,21.368667602539062,65283000,115.95999908447266,116.88999938964844,114.73999786376953,116.08999633789062,110.8958740234375,863600
3,2018-01-03 00:00:00,114.48999786376953,114.94000244140625,113.66000366210938,114.0199966430664,114.0199966430664,379800,NaN,NaN,NaN,...,21.036666870117188,21.149999618530273,21.149999618530273,67822500,116.33000183105469,118.05000305175781,115.94999694824219,116.87000274658203,111.6409912109375,980200
4,2018-01-04 00:00:00,114.33999633789062,114.73999786376953,112.6500015258789,113.91000366210938,113.91000366210938,422700,NaN,NaN,NaN,...,20.3786678314209,20.974666595458984,20.974666595458984,149194500,117.16999816894531,118.05999755859375,115.43000030517578,116.88999938964844,111.66008758544922,1318000

In [ ]:
#Extracting the Data feature for further cleaning
date = df.iloc[:,:1]
date
date.columns = ["date"]
date = date[2:]
date

                     date
2     2018-01-02 00:00:00
3     2018-01-03 00:00:00
4     2018-01-04 00:00:00
5     2018-01-05 00:00:00
6     2018-01-08 00:00:00
...                   ...
1256  2022-12-23 00:00:00
1257  2022-12-27 00:00:00
1258  2022-12-28 00:00:00
1259  2022-12-29 00:00:00
1260  2022-12-30 00:00:00

[1259 rows x 1 columns]

In [ ]:
#dff is the transformed new dataframe with least number of features 
ls = ['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'tickers_symbol']
dff = pd.DataFrame(ls)
for i in range(1,174):
  df1 = df.iloc[:,1+(6*i):7+(6*i)]
  col = df1.columns[0]
  df1.columns = df1.iloc[0]
  df1 = df1[2:]
  df1["tickers_symbol"] = [col]*1259

  dff = pd.concat([dff, df1], ignore_index=True)
  # d = {key:row for key,(index, row) in zip(ls, df1)}
  # dff.append(dff)
  # for key,(index, row) in zip(ls, df1):
dff

,0,Open,High,Low,Close,Adj Close,Volume,tickers_symbol
0,Open,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,High,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Close,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adj Close,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
217809,NaN,176.610001,177.759995,175.080002,177.360001,176.983261,371800,JBHT
217810,NaN,177.850006,178.960007,175.050003,178.220001,177.841446,354400,JBHT
217811,NaN,178.389999,179.279999,174.350006,174.460007,174.089432,240200,JBHT
217812,NaN,175.119995,178.610001,174.779999,176.770004,176.394516,362400,JBHT
217813,NaN,175.850006,176.270004,172.050003,174.360001,173.989639,459000,JBHT

In [ ]:
#Selecting the particular dataset
dff=dff[7:]

In [ ]:
#dropping the first column
dff=dff.drop(columns=[0])

In [ ]:
dff

,Open,High,Low,Close,Adj Close,Volume,tickers_symbol
7,NaN,NaN,NaN,NaN,NaN,NaN,LI
8,NaN,NaN,NaN,NaN,NaN,NaN,LI
9,NaN,NaN,NaN,NaN,NaN,NaN,LI
10,NaN,NaN,NaN,NaN,NaN,NaN,LI
11,NaN,NaN,NaN,NaN,NaN,NaN,LI
...,...,...,...,...,...,...,...
217809,176.610001,177.759995,175.080002,177.360001,176.983261,371800,JBHT
217810,177.850006,178.960007,175.050003,178.220001,177.841446,354400,JBHT
217811,178.389999,179.279999,174.350006,174.460007,174.089432,240200,JBHT
217812,175.119995,178.610001,174.779999,176.770004,176.394516,362400,JBHT
217813,175.850006,176.270004,172.050003,174.360001,173.989639,459000,JBHT

In [ ]:
dff.to_csv("data_clean_1.csv")

In [ ]:
#total number of unique company names value
len(dff['tickers_symbol'].unique())

173

In [ ]:
dff['Volume'].unique()

array([nan, 64611300.0, 19532800.0, ..., 816300, 646400, 1551100],
      dtype=object)

In [ ]:
#dropping the nan values
dff1=dff.dropna()

In [ ]:
dff1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 213162 entries, 655 to 217813
Data columns (total 7 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Open            213162 non-null  object
 1   High            213162 non-null  object
 2   Low             213162 non-null  object
 3   Close           213162 non-null  object
 4   Adj Close       213162 non-null  object
 5   Volume          213162 non-null  object
 6   tickers_symbol  213162 non-null  object
dtypes: object(7)
memory usage: 13.0+ MB

In [ ]:
#List of all the features
ls

['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume', 'tickers_symbol']

In [ ]:
#changing the dtype of the features to float
for i in ls[:-1]:
  dff1[i]=dff1[i].astype(float)

In [ ]:
#Statistical reading of our dataset
dff1.describe(
    
)

,Open,High,Low,Close,Adj Close,Volume
count,213162.000000,213162.000000,213162.000000,213162.000000,213162.000000,2.131620e+05
mean,151.938940,154.136706,149.659810,151.928178,149.220945,6.747413e+06
std,202.185868,204.983389,199.200927,202.069807,201.806964,1.951493e+07
min,1.800000,1.840000,1.780000,1.790000,1.693975,0.000000e+00
25%,50.610001,51.320000,49.980000,50.630001,47.620918,7.965000e+05
50%,95.269997,96.680000,93.879997,95.269997,92.806385,1.791150e+06
75%,182.369995,185.000000,179.770004,182.520004,178.743507,4.765900e+06
max,2680.000000,2715.659912,2632.219971,2703.260010,2703.260010,9.140820e+08

In [ ]:
#making the column to a string value
dff1['tickers_symbol']=dff1['tickers_symbol'].astype(str)

In [ ]:
#reading second dataset
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#Reading tweets from social media like twitter
dff2=pd.read_csv(r'/content/drive/MyDrive/Tweet.csv')

In [ ]:
#reading the dff2 dataframe
dff2.head()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1

In [ ]:
dff2.shape

(3717964, 7)

In [ ]:
#reading the basic info 
dff2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3717964 entries, 0 to 3717963
Data columns (total 7 columns):
 #   Column       Dtype
---  ------       -----
 0   tweet_id     int64
 1   writer       object
 2   post_date    int64
 3   body         object
 4   comment_num  int64
 5   retweet_num  int64
 6   like_num     int64
dtypes: int64(5), object(2)
memory usage: 198.6+ MB

In [ ]:
#dropping missing values
dff2=dff2.dropna()

In [ ]:
dff2.shape

(3670691, 7)

In [ ]:
dff2.describe()

           tweet_id     post_date   comment_num   retweet_num      like_num
count  3.670691e+06  3.670691e+06  3.670691e+06  3.670691e+06  3.670691e+06
mean   8.790581e+17  1.498419e+09  3.118402e-01  6.237322e-01  2.216942e+00
std    1.923773e+17  4.586631e+07  1.974405e+00  7.048640e+00  1.434788e+01
min    5.504415e+17  1.420070e+09  0.000000e+00  0.000000e+00  0.000000e+00
25%    7.159376e+17  1.459528e+09  0.000000e+00  0.000000e+00  0.000000e+00
50%    8.728054e+17  1.496928e+09  0.000000e+00  0.000000e+00  0.000000e+00
75%    1.050124e+18  1.539204e+09  0.000000e+00  0.000000e+00  1.000000e+00
max    1.212160e+18  1.577837e+09  6.310000e+02  9.990000e+02  9.990000e+02

In [ ]:
dff2.nunique()

tweet_id       3670691
writer          140131
post_date      3377112
body           3290828
comment_num        191
retweet_num        509
like_num           783
dtype: int64

In [ ]:
dff2_body_len = dff2['body'].str.split().str.len()
dff2_body_len.describe()

count    3.670691e+06
mean     1.756924e+01
std      9.601032e+00
min      1.000000e+00
25%      1.200000e+01
50%      1.500000e+01
75%      2.100000e+01
max      6.700000e+01
Name: body, dtype: float64

In [ ]:
dff2

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1
...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0

In [ ]:
dff1

,Open,High,Low,Close,Adj Close,Volume,tickers_symbol
655,15.490000,17.500000,15.100000,16.459999,16.459999,64611300.0,LI
656,16.670000,17.170000,15.990000,16.000000,16.000000,19532800.0,LI
657,16.260000,17.000000,15.770000,16.360001,16.360001,11740000.0,LI
658,16.549999,16.840000,15.950000,16.690001,16.690001,7781800.0,LI
659,16.649000,17.000000,16.400000,16.750000,16.750000,3991400.0,LI
...,...,...,...,...,...,...,...
217809,176.610001,177.759995,175.080002,177.360001,176.983261,371800.0,JBHT
217810,177.850006,178.960007,175.050003,178.220001,177.841446,354400.0,JBHT
217811,178.389999,179.279999,174.350006,174.460007,174.089432,240200.0,JBHT
217812,175.119995,178.610001,174.779999,176.770004,176.394516,362400.0,JBHT
217813,175.850006,176.270004,172.050003,174.360001,173.989639,459000.0,JBHT

In [ ]:
tweets=dff2['body']
tweets.shape
# print(tweets)
company_ls = [] 
for i in tweets:
  tmp = str(i).split()
  for j in tmp:
    if len(j)<2: continue
    if j[0] == "$" and not j[1].isnumeric():
      company_ls.append(j[1:])
print(company_ls)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
print("4".isnumeric())

In [ ]:
#defining a function to remove unrequired asswmb

def remove_char(tweet):
    tweet = re.sub(r'^RT[\s]+', '', tweet)
    tweet = re.sub(r'https?:\/\/.*[\r\n]*', '', tweet)
    tweet = re.sub(r'#', '', tweet)
    tweet = re.sub(r'[0-9]', '', tweet)
    
    return tweet

True

In [ ]:
dff2['tweet']= dff2['body'].apply(lambda tweet: remove_char(tweet))

In [ ]:
dff2['tweet']= dff2['tweet'].str.lower()

In [ ]:
#getting the newn pd.DataFrame with all lower VALUES
dff2[["body", "tweet"]].sample(8)

,body,tweet
460754,"Apple's Q3 Was Huge, But Q1 Is The One To Watc...","apple's q was huge, but q is the one to watch ..."
3411489,FTC approves record $5B fine for Facebook $GOO...,ftc approves record $b fine for facebook $goog...
2555511,All ready for delivery on the @Tesla lot. $TSL...,all ready for delivery on the @tesla lot. $tsl...
1058650,#Apple is Working on an Amazon Echo Competitor...,apple is working on an amazon echo competitor ...
145090,MY WATCHLIST $TWC $AIG $ACT $MU $WFC $HTZ $LN...,my watchlist $twc $aig $act $mu $wfc $htz $ln...
3353832,2/ alternative transportation options but the ...,/ alternative transportation options but the a...
865266,Started to Scale in: $tsla April 15 195 put at...,started to scale in: $tsla april put at $.
107262,@AndrewhFX $MSFT Your tweet has been featured ...,@andrewhfx $msft your tweet has been featured ...

In [ ]:
ls = set(dff["tickers_symbol"])

In [ ]:
print(ls)

{'GOOG', 'SGEN', 'EQIX', 'HZNP', 'SWKS', 'GMAB', 'CTAS', 'SNPS', 'AVGO', 'KLAC', 'PCAR', 'REGN', 'CSCO', 'FANG', 'TSLA', 'FTNT', 'ADP', 'AAPL', 'CHTR', 'TECH', 'ISRG', 'TMUS', 'ZM', 'TROW', 'VTRS', 'INTU', 'MAR', 'MSFT', 'CME', 'CSGP', 'ETSY', 'TSCO', 'GLPI', 'KHC', 'ABNB', 'NVCR', 'MDB', 'AXON', 'ZBRA', 'TEAM', 'HTHT', 'COST', 'NDSN', 'AMZN', 'LKQ', 'EBAY', 'IEP', 'PODD', 'MPWR', 'FSLR', 'MCHP', 'HOLX', 'TCOM', 'UTHR', 'SIVB', 'LBRDK', 'MRVL', 'NBIX', 'LI', 'SPLK', 'CINF', 'BMRN', 'ENPH', 'INCY', 'TRMB', 'CHKP', 'PDD', 'WBA', 'POOL', 'SBUX', 'CRWD', 'VOD', 'TW', 'AZPN', 'LPLA', 'FOXA', 'CSX', 'TTWO', 'NTRS', 'MU', 'QCOM', 'SAN', 'SBAC', 'CTSH', 'TTD', 'VRTX', 'ALGN', 'AMGN', 'JKHY', 'VRSK', 'FWONK', 'AMD', 'PARAA', 'ORLY', 'CMCSA', 'ADBE', 'MTCH', 'ZS', 'DLTR', 'DXCM', 'TXN', 'GILD', 'VRSN', 'LRCX', 'ALNY', 'AZN', 'VZ', 'ACGL', 'BKNG', 'ARGX', 'EXC', 'JBHT', 'NDAQ', 'APA', 'WMG', 'META', 'PAYX', 'ABMD', 'PFG', 'ASML', 'NICE', 'ROST', 'EXPD', 'ON', 'INTC', 'TER', 'MRNA', 'WDAY', 'KDP', 'LNT', 'CPRT', 'FAST', 'IDXX', 'LSXMB', 'SEDG', 'ODFL', 'FDS', 'MELI', 'NXPI', 'SIRI', 'ADSK', 'AEP', 'XEL', 'ERIE', 'MDLZ', 'CDW', 'ANSS', 'FITB', 'IBKR', 'ADI', 'STLD', 'AKAM', 'EXPE', 'DDOG', 'NTAP', 'ILMN', 'ULTA', 'SSNC', 'PYPL', 'PEP', 'EA', 'PTC', 'BIIB', 'MNST', 'UAL', 'FISV', 'AMAT', 'NVDA', 'LULU', 'NFLX', 'GRMN', 'CDNS', 'HBAN'}

In [ ]:
tweets=dff2['body']
tweets.shape
# print(tweets)
company_ls = [] 

for i in tweets:
  tmp = str(i).split()
  k = []
  for j in tmp:
    # if len(j)<2: continue
    if j[0] == "$" and j[1:] in ls:
      company_ls.append(j[1:])
      break
  else:
    company_ls.append(np.nan)
print(company_ls)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
company_ls

['AAPL',
 nan,
 'SBUX',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'QCOM',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 'GOOG',
 'AMZN',
 'AMZN',
 'AMZN',
 'AMZN',
 nan,
 'AMZN',
 'MSFT',
 'AAPL',
 'TSLA',
 nan,
 'AMZN',
 'AAPL',
 'AMZN',
 nan,
 'TSLA',
 'TSLA',
 'AMZN',
 nan,
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 nan,
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'MU',
 nan,
 nan,
 'AMZN',
 'AAPL',
 'MSFT',
 'AMZN',
 nan,
 nan,
 nan,
 'AAPL',
 'TSLA',
 'MSFT',
 'NFLX',
 'TSLA',
 'AMZN',
 'AAPL',
 nan,
 nan,
 nan,
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AMZN',
 'MSFT',
 'MSFT',
 'AAPL',
 'AMZN',
 'GOOG',
 'NFLX',
 'AAPL',
 nan,
 'TSLA',
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'MSFT',
 nan,
 'GOOG',
 'AMZN',
 'AMZN',
 'AAPL',
 'TSLA',
 'GOOG',
 'AMZN',
 'AMZN',
 nan,
 'AMZN',
 nan,
 nan,
 nan,
 nan,
 'AMZN',
 nan,
 nan,
 'AMZN',
 nan,
 'AMZN',
 nan,
 nan,
 'AMZN',
 'AMZN',
 'AAPL',
 'AAPL',
 'MSFT',
 'AMZN',
 'AMZN',
 'AAPL',
 'AAPL',
 'MSFT',
 'AMZN',
 'AMZN',
 'AAPL',
 nan,
 'AMZN',
 'AAPL',
 'AMZN',
 'AMZN',
 nan,
 nan,
 'AMZN',
 nan,
 'AAPL',
 'AMZN',
 'VZ',
 'TSLA',
 'AMZN',
 nan,
 'GOOG',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'GOOG',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 nan,
 'GOOG',
 'AAPL',
 'AMZN',
 nan,
 'AMZN',
 'AMZN',
 'AAPL',
 nan,
 'GOOG',
 nan,
 'GOOG',
 'GOOG',
 'GOOG',
 'GOOG',
 'GOOG',
 nan,
 'AAPL',
 'GILD',
 'GOOG',
 'TSLA',
 'AAPL',
 'AAPL',
 'INTC',
 'AMZN',
 'AMZN',
 'MSFT',
 nan,
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AMZN',
 'AAPL',
 'BIIB',
 'AAPL',
 'TSLA',
 'TSLA',
 'TSLA',
 'TSLA',
 'TSLA',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'GOOG',
 'AAPL',
 'TSLA',
 'AAPL',
 'GILD',
 'GILD',
 'GILD',
 'MSFT',
 'AAPL',
 'TSLA',
 'AAPL',
 'AMZN',
 'MSFT',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'MSFT',
 nan,
 nan,
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 nan,
 nan,
 'AMZN',
 'AMZN',
 'AAPL',
 'TSLA',
 'AAPL',
 'MSFT',
 'MSFT',
 'AAPL',
 'GOOG',
 'GILD',
 'AAPL',
 'AAPL',
 'MSFT',
 'GOOG',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'TSLA',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'TSLA',
 'MSFT',
 'NFLX',
 'AMZN',
 nan,
 'AAPL',
 'TSLA',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'MSFT',
 'AAPL',
 'TSLA',
 'GOOG',
 'AAPL',
 'NFLX',
 'AAPL',
 'MSFT',
 'TSLA',
 'AAPL',
 'TSLA',
 'AMZN',
 'MSFT',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'TSLA',
 'AAPL',
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'EBAY',
 'AAPL',
 'AAPL',
 'GOOG',
 'AMZN',
 nan,
 'GOOG',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'MSFT',
 nan,
 'AAPL',
 'GOOG',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'AAPL',
 nan,
 'TSLA',
 'SBUX',
 'AAPL',
 'GOOG',
 'AMZN',
 nan,
 'GOOG',
 'AAPL',
 'NFLX',
 'GOOG',
 'AMZN',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'AMZN',
 'AAPL',
 'AAPL',
 'GOOG',
 'TSLA',
 'GOOG',
 nan,
 'AAPL',
 'AAPL',
 'GOOG',
 'TSLA',
 'AAPL',
 'AMZN',
 'AMZN',
 'GOOG',
 'TSLA',
 'AAPL',
 'AAPL',
 'GOOG',
 'GOOG',
 'AMZN',
 'TSLA',
 'MSFT',
 'CMCSA',
 'AAPL',
 'EBAY',
 'AAPL',
 'TSLA',
 'TSLA',
 'AMZN',
 'TSLA',
 'GOOG',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'GOOG',
 'GOOG',
 'AMZN',
 'AAPL',
 'AAPL',
 'TSLA',
 'TSLA',
 'AMZN',
 'AAPL',
 'GOOG',
 'MSFT',
 'TSLA',
 'GOOG',
 'TSLA',
 'AAPL',
 'AMZN',
 'MSFT',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'AMZN',
 'AAPL',
 'AAPL',
 nan,
 'MSFT',
 'AAPL',
 nan,
 'AAPL',
 'MSFT',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'INTC',
 'TSLA',
 'AAPL',
 nan,
 'AMZN',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'TSLA',
 'AMZN',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'TSLA',
 'MSFT',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 nan,
 nan,
 'AMZN',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 nan,
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AMZN',
 'TSLA',
 'MSFT',
 nan,
 'AAPL',
 'SBUX',
 nan,
 'TSLA',
 'AAPL',
 'AAPL',
 'NFLX',
 nan,
 'TSLA',
 'AAPL',
 'GILD',
 'GOOG',
 nan,
 'TSLA',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'MSFT',
 nan,
 'TSLA',
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'NFLX',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'GOOG',
 nan,
 nan,
 'TSLA',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'AAPL',
 'AAPL',
 nan,
 'TSLA',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'SBUX',
 'TSLA',
 'AAPL',
 nan,
 nan,
 'GOOG',
 'AAPL',
 'MU',
 'AAPL',
 'GOOG',
 'TSLA',
 'AMZN',
 nan,
 'GOOG',
 'MSFT',
 nan,
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'NFLX',
 'AAPL',
 'AAPL',
 'AMZN',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'INTC',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'TSLA',
 nan,
 'TSLA',
 'BIIB',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 nan,
 'AAPL',
 nan,
 'MSFT',
 'GOOG',
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'GOOG',
 nan,
 nan,
 'AMZN',
 'MSFT',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AMZN',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AMZN',
 'GOOG',
 'MSFT',
 'MSFT',
 nan,
 'AAPL',
 'AAPL',
 'AMZN',
 'INTC',
 'AAPL',
 'AAPL',
 nan,
 'MSFT',
 'GOOG',
 'AAPL',
 'AMZN',
 'MSFT',
 'AMZN',
 'GOOG',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'GOOG',
 'MSFT',
 'AAPL',
 'AMZN',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'GOOG',
 'MSFT',
 nan,
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'MSFT',
 'TSLA',
 'MSFT',
 'TSLA',
 'AAPL',
 nan,
 'GOOG',
 'TSLA',
 'BIIB',
 'TSLA',
 'AAPL',
 nan,
 'AAPL',
 'NFLX',
 'AMZN',
 'MSFT',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'AMZN',
 'GOOG',
 'GILD',
 'AAPL',
 'GILD',
 'AMZN',
 'GILD',
 'AAPL',
 nan,
 'TSLA',
 'AAPL',
 'AAPL',
 'GOOG',
 'AAPL',
 'AMZN',
 nan,
 'AAPL',
 'TSLA',
 'TSLA',
 'TSLA',
 'TSLA',
 nan,
 'GOOG',
 'MSFT',
 'AMZN',
 nan,
 'GOOG',
 'AAPL',
 'TSLA',
 'AMZN',
 'AAPL',
 'AAPL',
 'MSFT',
 'NFLX',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'TSLA',
 'AAPL',
 'TSLA',
 'AAPL',
 'TSLA',
 'AMZN',
 'GOOG',
 nan,
 'GOOG',
 'TSLA',
 'TSLA',
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 nan,
 'TSLA',
 'AMZN',
 'TSLA',
 'AAPL',
 'AMZN',
 'AMZN',
 'GOOG',
 'AMZN',
 'MSFT',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'AMZN',
 nan,
 'AMZN',
 'AMZN',
 nan,
 'AMZN',
 'AMZN',
 nan,
 nan,
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'TSLA',
 'AAPL',
 'TMUS',
 nan,
 'AAPL',
 'GOOG',
 'AMZN',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'GOOG',
 nan,
 'AAPL',
 'AAPL',
 'AMZN',
 'TSLA',
 'AAPL',
 'TSLA',
 'AAPL',
 'MSFT',
 'AAPL',
 'TSLA',
 'AMZN',
 'TSLA',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'AAPL',
 'AAPL',
 'GOOG',
 'NFLX',
 'AAPL',
 'AAPL',
 nan,
 'GOOG',
 'AMZN',
 'AAPL',
 'MSFT',
 'MSFT',
 nan,
 'AAPL',
 'AMZN',
 'AMZN',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 'AAPL',
 nan,
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'NFLX',
 nan,
 'TSLA',
 'TSLA',
 'AAPL',
 nan,
 'AMZN',
 'AAPL',
 'GOOG',
 'AMZN',
 'TSLA',
 nan,
 nan,
 'AAPL',
 'AAPL',
 'AAPL',
 'AMZN',
 'GOOG',
 'GOOG',
 'AAPL',
 'AMZN',
 'GOOG',
 nan,
 'VZ',
 'TSLA',
 'AAPL',
 nan,
 nan,
 'GOOG',
 nan,
 nan,
 'AAPL',
 'AMZN',
 'MSFT',
 'AMZN',
 nan,
 'AAPL',
 'AMZN',
 'TSLA',
 nan,
 'AMZN',
 'AAPL',
 nan,
 nan,
 'TSLA',
 nan,
 'AAPL',
 'AMZN',
 nan,
 'AAPL',
 nan,
 'AAPL',
 'GOOG',
 'AAPL',
 'AAPL',
 'NFLX',
 'AAPL',
 'AAPL',
 nan,
 ...]

In [ ]:
dff2

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,tweet
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,"lx made $, on $aapl -check it out!"
1,550441672312512512,KeralaGuy77,1420070496,Insanity of today weirdo massive selling. $aap...,0,0,0,insanity of today weirdo massive selling. $aap...
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,s&p stocks performance $hd $low $sbux $tgt $dv...
3,550442977802207232,ShowDreamCar,1420070807,$GM $TSLA: Volkswagen Pushes 2014 Record Recal...,0,0,1,$gm $tsla: volkswagen pushes record recall ta...
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,swing trading: up to .% return in days
...,...,...,...,...,...,...,...,...
3717959,1212159765914079234,TEEELAZER,1577836383,That $SPY $SPX puuump in the last hour was the...,1,0,6,that $spy $spx puuump in the last hour was the...
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,in i may start tweeting out positive news abo...
3717961,1212160015332728833,Commuternyc,1577836443,Patiently Waiting for the no twitter sitter tw...,0,0,5,patiently waiting for the no twitter sitter tw...
3717962,1212160410692046849,MoriaCrypto,1577836537,I don't discriminate. I own both $aapl and $ms...,1,0,1,i don't discriminate. i own both $aapl and $ms...
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,"$aapl patent ,, vertical interconnects for sel..."

In [ ]:
len(company_ls)

3670691

In [ ]:
dff2["tickers_symbol"] = company_ls

In [ ]:
dff2.dropna()

,tweet_id,writer,post_date,body,comment_num,retweet_num,like_num,tweet,tickers_symbol
0,550441509175443456,VisualStockRSRC,1420070457,"lx21 made $10,008 on $AAPL -Check it out! htt...",0,0,1,"lx made $, on $aapl -check it out!",AAPL
2,550441732014223360,DozenStocks,1420070510,S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...,0,0,0,s&p stocks performance $hd $low $sbux $tgt $dv...,SBUX
4,550443807834402816,i_Know_First,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,swing trading: up to .% return in days,AAPL
5,550443808606126081,aaplstocknews,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,swing trading: up to .% return in days,AAPL
6,550443809700851716,iknowfirst,1420071005,Swing Trading: Up To 8.91% Return In 14 Days h...,0,0,1,swing trading: up to .% return in days,AAPL
...,...,...,...,...,...,...,...,...,...
3717956,1212159184931717120,MelaynaLokosky,1577836245,If only 2020 brought more self-awareness to Te...,0,1,0,if only brought more self-awareness to tesla ...,TSLA
3717957,1212159254884433921,QuantWolfLine,1577836261,Imagine calling your broker-dealer and wanting...,1,0,1,imagine calling your broker-dealer and wanting...,AAPL
3717958,1212159275637886976,GMGRIFF_79,1577836266,"$AAPL yearly~ Heck of a year.. Jan. 2, 1999~ar...",0,0,1,"$aapl yearly~ heck of a year.. jan. , ~around ...",AAPL
3717960,1212159838882533376,ShortingIsFun,1577836401,In 2020 I may start Tweeting out positive news...,0,0,1,in i may start tweeting out positive news abo...,TSLA
3717963,1212160477159206912,treabase,1577836553,"$AAPL #patent 10,522,475 Vertical interconnect...",0,0,0,"$aapl patent ,, vertical interconnects for sel...",AAPL

In [ ]:
ls = set(dff["tickers_symbol"])

In [ ]:
!pip install afinn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: afinn in /usr/local/lib/python3.9/dist-packages (0.1)

In [ ]:
#AFINN sentiment analysis in Python: Wordlist-based approach for sentiment analysis.
from afinn import Afinn
afinn = Afinn()

In [ ]:
dff2['afinn_score'] = dff2['tweet'].apply(lambda tweet: afinn.score(tweet))
dff2['afinn_score'].sample(5)

3307200    3.0
3127440    4.0
1698999   -2.0
707865     0.0
2535726    3.0
Name: afinn_score, dtype: float64

In [ ]:
!pip install vaderSentiment

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vaderSentiment
  Downloading vaderSentiment-3.3.2-py2.py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 126.0/126.0 KB 4.8 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from vaderSentiment) (2.27.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (1.26.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->vaderSentiment) (2.0.12)
Installing collected packages: vaderSentiment
Successfully installed vaderSentiment-3.3.2

In [ ]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
vanderSentimentAnalyzer = SentimentIntensityAnalyzer()

In [ ]:
def getVanderScore(tweet):    
    vs = vanderSentimentAnalyzer.polarity_scores(tweet)
    score = vs['compound']
    return score

def getVanderSentiment(score):    
    if (score >= 0.05): 
        return "Positive"
    
    elif (score < 0.05 and score > -0.05):
        return "Neutral"
    
    elif (score <= -0.05):    
        return "Negative"
    
    return score

In [ ]:
dff2['vander_score'] = dff2['body'].apply(lambda tweet: getVanderScore(tweet))
dff2['vander_sentiment'] = dff2['vander_score'].apply(lambda score: getVanderSentiment(score))
dff2[['tickers_symbol','post_date','vander_score', 'vander_sentiment']].sample(10)

        tickers_symbol   post_date  vander_score vander_sentiment
3469542           TSLA  1565879380        0.2263         Positive
2839016           AMZN  1541080713        0.0000          Neutral
3101541            NaN  1551474779        0.2869         Positive
504234            AAPL  1440191771        0.0000          Neutral
2044143            NaN  1506038506       -0.4767         Negative
3253508           MSFT  1556552539        0.3400         Positive
1657471           GOOG  1486646585       -0.0085          Neutral
2421637           TSLA  1526152053       -0.8074         Negative
2524670           AAPL  1530917105        0.6166         Positive
3627936           TSLA  1573575868        0.6486         Positive

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X= dff2[['vander_score']]
y=dff2[['vander_sentiment']]
X_train, X_test, y_train, y_test = train_test_split(X,y ,
                                   random_state=47, 
                                   test_size=0.25, 
                                   shuffle=True)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((2753018, 1), (917673, 1), (2753018, 1), (917673, 1))

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
lr= LogisticRegression()

In [ ]:
lr.fit(X_train, y_train)

LogisticRegression()

In [ ]:
y_pred= lr.predict(X_test)

In [ ]:
y_pred

array(['Negative', 'Neutral', 'Positive', ..., 'Positive', 'Positive',
       'Neutral'], dtype=object)

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
pd.DataFrame(confusion_matrix(y_test, y_pred))

        0       1       2
0  165539       0       0
1      88  381209      73
2       0       0  370764

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

    Negative       1.00      1.00      1.00    165539
     Neutral       1.00      1.00      1.00    381370
    Positive       1.00      1.00      1.00    370764

    accuracy                           1.00    917673
   macro avg       1.00      1.00      1.00    917673
weighted avg       1.00      1.00      1.00    917673

In [ ]:
import pickle
pickle.dump(lr, open('Stock_Sentiment_Analysis.pkl','wb'))

In [ ]:
with open('model_pkl', 'wb') as files:
    pickle.dump(lr, files)